.title {
    font-size: 90px;
 font-family: "Tohoma";
    color: black;
   
    }

.message {
    font-size: xx-small;
    font-style: normal;
    color: black;
       }
.profile{
    font-size: 60px;
    color: black;
    
    }


